In [5]:
from sqlalchemy import create_engine
import pandas as pd

from sklearn.model_selection import cross_validate
from sklearn.model_selection import TimeSeriesSplit
from sklearn.pipeline import make_pipeline 
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LassoCV
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [6]:
# Connect to MySQL database 

HOSTNAME = "127.0.0.1"
PORT = 3306
USERNAME = "root"
PASSWORD = "kangsong87"
DIALECT = "mysql"
DRIVER = "pymysql"
DATABASE = "Covid"

connection_string = ( f"{DIALECT}+{DRIVER}://{USERNAME}:{PASSWORD}@{HOSTNAME}:{PORT}/{DATABASE}" )

In [7]:
# Import usa_covid19 table into dataframe from the database

df = pd.read_sql(
    "SELECT * FROM usa_covid19",
    con=connection_string, 
    index_col="index"
)

In [8]:
# Search Travis County data 

df.loc[df["county_city"]=="Travis"]

,country_region,province_state,county_city,lat,long,date,confirmed,deaths
index,,,,,,,,
2754,US,Texas,Travis,30.33432,-97.785356,2020-01-22,0,0
6015,US,Texas,Travis,30.33432,-97.785356,2020-01-23,0,0
9276,US,Texas,Travis,30.33432,-97.785356,2020-01-24,0,0
12537,US,Texas,Travis,30.33432,-97.785356,2020-01-25,0,0
15798,US,Texas,Travis,30.33432,-97.785356,2020-01-26,0,0
...,...,...,...,...,...,...,...,...
328854,US,Texas,Travis,30.33432,-97.785356,2020-05-01,1683,51
332115,US,Texas,Travis,30.33432,-97.785356,2020-05-02,1714,51
335376,US,Texas,Travis,30.33432,-97.785356,2020-05-03,1756,52
338637,US,Texas,Travis,30.33432,-97.785356,2020-05-04,1816,53
341898,US,Texas,Travis,30.33432,-97.785356,2020-05-05,1876,58

In [ ]:
# Build Models